<div class="endpoint" [id]='endpointData.operationId'>
  <div class="operations">
    <div class="get operation">
      <div class="row">
        <div class="content pt-3 pb-3" [ngClass]="endpointsSharedService.isExamplesHidden ? 'col-lg-9 col-xl-9' : 'col-lg-6 col-xl-6'">
          <h4>
            {{this.endpointData.summary}}
          </h4>


          <div class="d-lg-flex align-items-center">
            <div class="mr-auto">
              <h5>
                <span class="http_method badge badge-primary">{{this.endpointData.method}}</span>
                <span class="path text-muted">{{this.endpointData.url}}</span>
              </h5>
            </div>
          </div>


          <div *ngIf="endpointData?.description" class="markdown action-summary">
            <p>{{this?.endpointData?.description}}</p>
          </div>

          <h6>
            Parameters
            <span class="toggle-examples" (click)="endpointsSharedService.endpointsExamplesToggle()">
              <small class="text">
                <span *ngIf="endpointsSharedService.isExamplesHidden">Show Samples</span>
                <span *ngIf="!endpointsSharedService.isExamplesHidden">Hide Samples</span>
              </small>
              <svg style="height:1em; width:1em;" class="svg-inline--fa fa-code fa-w-18" aria-hidden="true" data-fa-processed="" data-prefix="fal"
                data-icon="code" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="currentColor" d="M228.5 511.8l-25-7.1c-3.2-.9-5-4.2-4.1-7.4L340.1 4.4c.9-3.2 4.2-5 7.4-4.1l25 7.1c3.2.9 5 4.2 4.1 7.4L235.9 507.6c-.9 3.2-4.3 5.1-7.4 4.2zm-75.6-125.3l18.5-20.9c1.9-2.1 1.6-5.3-.5-7.1L49.9 256l121-102.5c2.1-1.8 2.4-5 .5-7.1l-18.5-20.9c-1.8-2.1-5-2.3-7.1-.4L1.7 252.3c-2.3 2-2.3 5.5 0 7.5L145.8 387c2.1 1.8 5.3 1.6 7.1-.5zm277.3.4l144.1-127.2c2.3-2 2.3-5.5 0-7.5L430.2 125.1c-2.1-1.8-5.2-1.6-7.1.4l-18.5 20.9c-1.9 2.1-1.6 5.3.5 7.1l121 102.5-121 102.5c-2.1 1.8-2.4 5-.5 7.1l18.5 20.9c1.8 2.1 5 2.3 7.1.4z"></path>
              </svg>
            </span>
          </h6>

          <div data-content="" class="operation-params card card-body pb-1 bg-light mb-3">

            <div class="parameter-item">
              <form #endpointForm="ngForm">
                <div class="form-group row">
                  <div style="padding:10px;width:100%;" *ngFor="let parm of this.endpointData?.parameters">
                    <div class="row">
                      <div class="col-lg-3 col-xl-2">
                        <label class="param-property text-nowrap col-form-label">
                          {{parm.name}}:
                          <br>
                          <small class="text-muted">
                            <em>{{parm?.in}}</em>
                          </small>
                        </label>
                      </div>

                      <div class="col-lg-9 col-xl-10">
                        <div *ngIf="parm['in'].toLowerCase() == 'body'">
                          <textarea placeholder="{{parm.required == true ? '(required)' : ''}}" [required]='parm.required' [(ngModel)]='this.parameterFields[parm.name].value'
                            class="form-control" id="exampleTextarea" rows="3" [name]='parm.name'></textarea>

                          <div *ngIf="this.parm?.schema && this.Object.keys(this.parm?.schema).length !== 0" class="parameter-content-type">
                            <div>
                              <div class="media mt-2">
                                <label class="align-self-center mb-0 mr-3" for="parameterContentType">Content type:</label>
                                <div class="media-body">
                                  <select class="parameter form-control form-control-sm" name="responseContentType">
                                    <option [(ngValue)]="this.parameterFields[parm.name]['contentType']" *ngFor="let option of this.endpointData.consumes" value="option">{{option}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div *ngIf="parm['in'].toLowerCase() !== 'body'">
                          <input class="parameter form-control " minlength="0" placeholder="{{parm.required == true ? '(required)' : ''}}" [required]='parm.required'
                            [(ngModel)]='this.parameterFields[parm.name].value' type="string" [name]='parm.name'>
                        </div>
                        <div class="parameter-content-type"></div>
                        <div class="small-description media mt-2">
                          <small>
                            <pre *ngIf="parm.type !== null || parm.type.trim() !== ''" class="mb-0 mr-2"><code class="code-signature hljs rounded">{{parm.type}}</code></pre>
                          </small>
                          <div class="media-body">
                            <small class="text-muted">{{parm?.description}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
          <div>

            <div class="sandbox_header mb-5" data-content="">
              <button (click)="this.tryEndpointRequest(endpointForm)" id="testEndpointBut799" type="button" class="btn btn-primary">Test EndPoint</button>
            </div>

            <div class="response-content-type card card-body pb-3 bg-light mb-3">
              <div>
                <div class="media">
                  <label class="align-self-center mb-0 mr-3">Response Type:</label>
                  <div class="media-body">
                    <select class="parameter form-control form-control-sm" name="responseContentType">
                      <option [(ngValue)]="this.selectedResponse" *ngFor="let option of this.endpointData?.produces" value="application/json">{{option}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <h6>
              Status Codes
            </h6>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li *ngFor="let s of this.Object.keys(this.endpointData.responses)" class="list-group-item">
                  <div>
                    <span style="padding-right:2em;">
                      {{s}}
                    </span>
                    <span>
                      {{this.endpointData.responses[s].description}}
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="samples" [ngClass]="endpointsSharedService.isExamplesHidden ? 'col-lg-3 col-xl-3 d-none' : 'col-lg-6 col-xl-6'">
          <app-example-side-bar [endpoint]="this.endpointData" (clickedBodySample)="populateBody($event)"></app-example-side-bar>
        </div>
      </div>
    </div>
  </div>
</div>
