<h4>
  <a href="#">
    {{this.endpointData.name}}
  </a>
</h4>

<div style="height:3em;">
  <div style="float:left;">
    <h5 class="text-truncate">
      <span class="http_method badge badge-primary">{{this.endpointData.methodType}}</span>
      <span class="path text-muted">{{this.endpointData.path}}</span>
    </h5>
  </div>
  <div style="float:right;">
    <small  (click)="this.isHidden = !this.isHidden; this.sampleClicked.emit(this.isHidden);" class="text">
      <span *ngIf="this.isHidden">Show Samples</span>
      <span *ngIf="!this.isHidden">Hide Samples</span>
    </small>
    <svg style="height:1em; width:1em;" class="svg-inline--fa fa-code fa-w-18" aria-hidden="true" data-fa-processed="" data-prefix="fal" data-icon="code" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M228.5 511.8l-25-7.1c-3.2-.9-5-4.2-4.1-7.4L340.1 4.4c.9-3.2 4.2-5 7.4-4.1l25 7.1c3.2.9 5 4.2 4.1 7.4L235.9 507.6c-.9 3.2-4.3 5.1-7.4 4.2zm-75.6-125.3l18.5-20.9c1.9-2.1 1.6-5.3-.5-7.1L49.9 256l121-102.5c2.1-1.8 2.4-5 .5-7.1l-18.5-20.9c-1.8-2.1-5-2.3-7.1-.4L1.7 252.3c-2.3 2-2.3 5.5 0 7.5L145.8 387c2.1 1.8 5.3 1.6 7.1-.5zm277.3.4l144.1-127.2c2.3-2 2.3-5.5 0-7.5L430.2 125.1c-2.1-1.8-5.2-1.6-7.1.4l-18.5 20.9c-1.9 2.1-1.6 5.3.5 7.1l121 102.5-121 102.5c-2.1 1.8-2.4 5-.5 7.1l18.5 20.9c1.8 2.1 5 2.3 7.1.4z"></path></svg>
  </div>
</div>

<h6 style="top-padding:1em; bottom-padding:1em;">
  Description:
</h6>

<div class="alert" role="alert">
  {{this.endpointData.desc}}
</div>

<h6 style="top-padding:1em; bottom-padding:1em;">
  Parameters
</h6>

<div data-content="" class="operation-params card card-body pb-1 bg-light mb-3"><div class="parameter-item"><div class="form-group row">
  <div style="width:100%;" *ngFor="let parm of this.endpointData.paramters">
    <div stlye="float:left;">
      <label class="param-property text-nowrap col-lg-3 col-xl-2 text-lg-right col-form-label">
        {{parm.name}}:<br>
        <small class="text-muted"><em>(query)</em></small>
      </label>
    </div>
    <div style='float:right' class="param-property col-lg-9 col-xl-10">
      <input class="parameter form-control " minlength="0" placeholder="{{parm.value}}" [(ngModel)]='this.parameterFields[parm.name]' type="string" value="{{parm.value}}">

      <div class="parameter-content-type"></div>
      <div class="small-description media mt-2">
        <small><pre class="mb-0 mr-2"><code class="code-signature hljs rounded">{{parm.type}}</code></pre></small>
        <div class="media-body">
          <small class="text-muted">{{parm.desc}}</small>
        </div>
      </div>
    </div>
  </div>
</div></div>
</div>


<div>
  <div class="response-content-type card card-body pb-3 bg-light mb-3"><div><div class="media">
    <label class="align-self-center mb-0 mr-3">Response Type:</label>
    <div class="media-body">
      <select class="parameter form-control form-control-sm" name="responseContentType">
        <option [(ngValue)] = "this.selectedResponse" *ngFor="let option of this.endpointData.responseTypes" value="application/json">{{option}}</option>
      </select>
    </div>
  </div></div></div>
  <div id="testEndpointButContainer924">
    <button (click)="clickedTestEndPointBut(); this.testEndPointClicked.emit({'selectedResponse':this.selectedResponse, 'parameterFields':this.parameterFields})" id="testEndpointBut799" type="button" class="btn btn-primary">Test EndPoint</button>
  </div>
</div>

