
<nav id="resources_nav" class="nav flex-column parent_menu" [ngClass]="{'expanded' : !isCollapsed}">
  <nav class="collapsable-nav-header" routerLinkActive="active">
      <a class="nav-link text-capitalize" [routerLink]="tag" >{{ tag }}</a>
      <div class="toggle-collapse"  (click)="isCollapsed = !isCollapsed">
        <i class="fas fa-angle-down"></i>
      </div>
  </nav>
  <nav class="collapsable-nav-body nav flex-column sub_menu"
    [collapse]="isCollapsed"
    class="card card-block card-header">
    <div *ngFor="let endpoint of Object.keys(endpoints)">
      <a class="nav-link" [routerLink]="tag" [href]="endpoints[endpoint].operationId" routerLinkActive="active">{{ endpoints[endpoint].summary }}</a>
    </div>
  </nav>
</nav>
