/* Method Badge Colors */
$methodGetColor: green;
$methodPostColor: blue;
$methodPatchColor: pink;
$methodDeleteColor: red;
$methodOptionColor: magenta;
$methodOtherColor: orange;

/* Nav Arrow Color */
$navArrowColor: #212529;
