<div style="padding: 0px 20px 0px 20px">
  <hr>
  <nav id="resources_nav" class="nav flex-column parent_menu" [ngClass]="{'expanded' : !collapsed}">
    <nav (click)="toggleCollapse()" class="collapsable-nav-header" routerLinkActive="active">
      <h5 class="nav-header">{{this.header}}</h5>
      <div class="toggle-collapse">
        <i class="fas fa-angle-down"></i>
      </div>
    </nav>
    <nav [ngStyle]="{display:this.collapsed ? 'none' : 'block'}" class="collapsable-nav-body nav flex-column sub_menu">
      <div *ngIf="this.type?.toLowerCase() == 'schema'">
        <app-param-console [schema]="this.schema"></app-param-console>
      </div>

      <div *ngIf="this.type?.toLowerCase() == 'sample'">
        <pre (click)="this.clickedSample.emit(this.generatedSample.json)">
          <code [innerHTML] = 'this.generatedSample?.highlight' class="hljs json" id="sample79815"></code>
        </pre>
      </div>
    </nav>
  </nav>
  <hr>
</div>
