.request_url {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.response{
  code {
    max-height: 300px;
  }
}

.no-endpoint-data{
  padding: 1rem
}
