
<nav id="main-nav" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand d-flex align-items-center" href="">
        <!-- <embed class="studio-icon mr-2" type="image/svg+xml" src="./swagger/slyce-assets/images/studio-icon.svg">  -->
        Forge
        <span class="align-self-top ml-2 text-uppercase">API Docs</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sticky_nav_wrapper">
        <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fal" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"></path></svg><!-- <i class="fal fa-bars"></i> -->
    </button>
    <ul class="navbar-nav ml-auto d-none d-lg-block">
        <li class="nav-item active">
            <a class="nav-link" href="mailto:andres@slyce.it">Help</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
