
@import "./bootstrap";


.schema-description{




}

.propLabels{
  padding:0px 0px 0px 0px;
}

.propDesc{
  padding:0px 0px 0px 0px;

  @media (max-width: 991px) {
    right-padding:15px;
    padding:15px 15px 15px 15px;

  }

}




