<div class="schema-description rounded">
  <span class="strong objectName"><span class="bracketsIcon"></span>
    <span
      class="objectNameText" *ngIf="this.schema.$$ref != null">{{this.schema?.$$ref?.toUpperCase()}}
    </span>
    <span
      class="objectNameText" *ngIf="this.schema.$$ref == null">NO REFERENCE NAME
    </span>
  </span>
  <div class="schema-property" *ngFor="let p of this.Object.keys(this.schema.properties)">
    <span class="propLabels">
      <span class="propName propOpt">
        {{p}}
      </span>
      <span class="propType" title="{{this.schema.properties[p].type}}">
        {{this.schema.properties[p].type}}
      </span>
      <span class="propOptKey">
        {{this.getFieldRequirementText(this.schema.properties[p]?.required)}}
      </span>
    </span>
    <span class="propDesc">{{this.schema.properties[p].description}}
    </span>
  </div>
</div>


<div *ngFor="let p of this.Object.keys(this.schema.properties)">
  <app-param-console *ngIf="this.schema.properties[p].type == 'object'" [schema]="this.schema.properties[p]"></app-param-console>
</div>


