<div class="schema-description rounded">
  <span class="strong objectName"><span class="bracketsIcon"></span> <span
    class="objectNameText">{{this.schema?.$$ref.toUpperCase()}}</span></span>
  <div style="margin:15px;" *ngFor="let p of this.Object.keys(this.schema.properties)">
    <span class="propLabels">
      <span class="propName propOpt">
        {{p}}
      </span>
      <span class="propType" title="{{this.schema.properties[p].type}}">
        {{this.schema.properties[p].type}}
      </span>
      <span class="propOptKey">
        {{this.getFieldRequirementTextFunc(this.schema.properties[p]?.required)}}
      </span>
    </span>
    <span class="propDesc">{{this.schema.properties[p].description}}
    </span>
  </div>
</div>


