$top-field-padding: 0.75em;
$bot-field-padding: 0.75em;

$top-button-padding: 0.75em;
$bot-button-padding: 0.75em;

#fieldContainer12412{
  padding-top: $top-field-padding;
  padding-bottom: $bot-field-padding;
}

#applyButtonContainer1257235{
  float:right;
  padding-top: $top-button-padding;
  padding-bot: $bot-button-padding;
}
