@import './variables';

#headerContainer73174{
  text-align:center;
}

#modalHeader79817{
  display:inline;
}

#badgeContainer73107{
  display:inline;
  padding:1em;
}

#badge883071{
  position:relative;
  display:inline;
}

#fieldsContainer863871{
  margin:1em;
}

#fieldName73209{
  padding-top: 10px;
}

#textBox561{
  background-color:black;
  color:white;
  padding:10px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  border-radius: 5px;
}

.get{
  background-color: $methodGetColor;
}
.post{
  background-color: $methodPostColor;
}
.option{
  background-color: $methodOptionColor;
}
.patch{
  background-color: $methodPatchColor;
}
.delete{
  background-color: $methodDeleteColor;
}
.other{
  background-color: $methodOtherColor;
}

