




<app-endpoint></app-endpoint>














<!--<app-example-collapsible [content]="this.sampleContent2" [text]="{header:'Response Schema'}"></app-example-collapsible>-->
<!--<app-example-collapsible [content]="this.sampleContent1" [text]="{header:'Response Sample'}"></app-example-collapsible>-->
<!--<app-example-collapsible [text]="{header:'Response Sample'}"></app-example-collapsible>-->



<!--<app-example-collapsible [text]="{header:'Response Schema'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Body Sample'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Body Schema'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Response Schema'}"></app-example-collapsible>-->
