




<app-endpoint [endpointData]="this.appEndPoint"  (testEndPointClicked)="this.clickTest($event)" (samplesClicked)="this.clickTest($event);" ></app-endpoint>


<app-sidebar-nav [tags]='swawggerData | async'></app-sidebar-nav>












<!--<app-example-collapsible [content]="this.sampleContent2" [text]="{header:'Response Schema'}"></app-example-collapsible>-->
<!--<app-example-collapsible [content]="this.sampleContent1" [text]="{header:'Response Sample'}"></app-example-collapsible>-->
<!--<app-example-collapsible [text]="{header:'Response Sample'}"></app-example-collapsible>-->



<!--<app-example-collapsible [text]="{header:'Response Schema'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Body Sample'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Body Schema'}"></app-example-collapsible>
<app-example-collapsible [text]="{header:'Response Schema'}"></app-example-collapsible>-->
