/* You can add global styles to this file, and also import other style files */

/* Method Badge Colors */
$methodGetColor: green;
$methodPostColor: blue;
$methodPatchColor: pink;
$methodDeleteColor: red;
$methodOptionColor: magenta;
$methodOtherColor: orange;
